<?xml version='1.0' encoding='utf-8'?>
<widget id="network.prize.prizebird" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Flappy Prizes</name>
    <description>
        
    </description>
    <author email="wpbsuccess@gmail.com" href="http://mack.guru/">
        David Seager
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="phonegap-admob" source="npm"/>
</widget>
